#Rename to config.yaml
client:
  client_id: '<reddit client id>'
  user_agent: '<user agent string>'
  client_secret: '<reddit client secret>'
  #Oauth disabled when using user/pass
  username: '<username>'
  password: "<password>"
subreddit: foobarbaz
streams:
  comments: true
  submissions: true
  modlog: true
  modmail: true
plugins:
  - "DirectoryName.FileName.ClassName"
database: "reddit_automation_suite/db/reddit.db"